.main_cnatiner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  border-radius: 10px;
  height: 400px;
  width: 800px;
}

.dashbord_profile_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  background: chocolate;
  border-radius: 10px;
  height: 500px;
  width: 80%;
}

.input_style {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 0;
  height: 36px;
  border-bottom: 1px solid #8080805e;
}

.left_info_container {
  height: 400px;
  padding: 0px;
  background-image: url("../Images/banner.jpg");
  float: left;
}

.left_info_child {
  background: linear-gradient(to right, #00bebe7a 0%, #0e73a1d1 100%);
  padding: 20px;
  height: 400px;
}

.registation_container {
  height: 400px;
  background: #fff;
  padding: 20px;
  float: left;
}
body {
  background: #1e8cc1;
}
.welcome_heading {
  color: #fff;
  font-size: 33px;
}
.welcome_description {
  color: #fff;
  font-size: 13px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-bottom-color: #80bdff;
  outline: 0;
  box-shadow: none;
}
.upload_image {
  position: absolute;
}
.file_upload_conatiner {
  position: relative;
}
.step1 {
  height: 30px;
  width: 30px;
  background: #1e8cc1;
  display: inline-block;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  padding-top: 3px;
}
.step2 {
  height: 30px;
  width: 30px;
  background: #1e8cc1;
  display: inline-block;
  color: white;
  font-weight: 700;
  margin-left: 20px;
  text-align: center;
  border-radius: 50px;
  padding-top: 3px;
}
.step-seprater {
  display: inline-block;
  border: 1px solid #000;
  width: 100px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.step_one_conatiner {
  transition: 1s;
}
.css-12zlm52-ReactDropdownSelect {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 2px 5px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  direction: ltr;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  min-height: 36px;
  pointer-events: all;
}
.error_message {
  color: red;
  font-size: 12px;
  margin: 0px;
}

.dashboard_image_pannel {
  float: left;
  border-right: 1px solid #adadad42;
  height: 500px;
}
.dashboard_info_pannel {
  float: left;
  overflow: scroll;
  background: #fff;
  height: 500px;
}
.profile_image_style {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.profile_conatiner_image {
  height: 260x;
  padding-top: 20px;
  /* border-bottom: 1px solid #fff; */
}

.name_Style {
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.dashboard_info_pannel {
  padding: 20px;
}

.profile_save_btn {
  float: right;
  margin-top: 15px;
}

.dashboard_info_pannel.col-md-8 label {
  margin-top: 15px;
}
.profile_navigation ul {
  padding: 0px;
  text-align: center;
  list-style-type: none;
}

.profile_navigation ul li {
  background: chocolate;
  color: #fff;
  padding: 15px;
  text-align: left;
}

.active {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
}

.dashboard_info_pannel .css-12zlm52-ReactDropdownSelect {
  margin: 0px;
}

.dashboard_info_pannel input {
  margin: 0px;
}

.header {
  text-align: center;
  font-weight: 200;
}
.login_signup_button {
  float: left;
  margin-top: 30px;
  border-bottom: 1px solid;
  color: blue;
}
.flot_left {
  float: left;
}
.css-93ilmd-DropDown {
  position: absolute;
  top: 36px !important;
  left: -1px;
  border: 1px solid #ccc;
  width: 100% !important;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  max-height: 300px;
  overflow: auto;
  z-index: 9;
}
.year_and_board input {
  margin-bottom: 20px;
  margin-top: 20px;
}

.loader {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}
tbody tr td {
  width: 33%;
  padding: 15px;
}

tr {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  height: 50px;
}

.small_loader {
  height: 100px;
  width: 38px;
  float: right;
}
.seprate {
  padding: 10px;
  background: #cccccc2e;
  box-shadow: 13px 13px 13px #ccc;
  margin-top: 75px;
}

.small_loader_dashboard {
  height: 100px;
  width: 50px;
  float: right;
}
